body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1190px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:124px;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:1180px;
  height:124px;
}
#u232_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:124px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u232_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:73px;
  width:1180px;
  height:51px;
}
#u233_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:51px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u233_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:1180px;
  height:19px;
}
#u234_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:19px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u234_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#3A3A3C;
  text-align:left;
  line-height:19px;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#3A3A3C;
  text-align:left;
  line-height:19px;
}
#u235 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u235_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#3A3A3C;
  text-align:left;
  line-height:19px;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:0px;
  width:67px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#3A3A3C;
  text-align:left;
  line-height:19px;
}
#u236 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u236_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#3A3A3C;
  text-align:left;
  line-height:19px;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:0px;
  width:46px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#3A3A3C;
  text-align:left;
  line-height:19px;
}
#u237 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u237_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#3A3A3C;
  text-align:left;
  line-height:19px;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:0px;
  width:71px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#3A3A3C;
  text-align:left;
  line-height:19px;
}
#u238 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u238_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#3A3A3C;
  text-align:left;
  line-height:19px;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:0px;
  width:34px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#3A3A3C;
  text-align:left;
  line-height:19px;
}
#u239 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u239_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#3A3A3C;
  text-align:left;
  line-height:19px;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:0px;
  width:59px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#3A3A3C;
  text-align:left;
  line-height:19px;
}
#u240 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u240_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#3A3A3C;
  text-align:left;
  line-height:19px;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:0px;
  width:75px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#3A3A3C;
  text-align:left;
  line-height:19px;
}
#u241 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u241_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#3A3A3C;
  text-align:left;
  line-height:19px;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:0px;
  width:45px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#3A3A3C;
  text-align:left;
  line-height:19px;
}
#u242 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u242_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:73px;
}
#u243_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:73px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u243_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:25px;
  width:816px;
  height:32px;
}
#u244_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:816px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u244_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-0px;
  width:148px;
  height:32px;
}
#u245_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u245_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-0px;
  width:32px;
  height:32px;
}
#u246_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u246_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  display:flex;
  transition:none;
}
#u248 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u248_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:4px;
  width:24px;
  height:24px;
  display:flex;
  transition:none;
}
#u249 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u249_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Segoe UI Semibold", "Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:20px;
  color:#3A3A3C;
  text-align:left;
  line-height:22px;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:5px;
  width:108px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Segoe UI Semibold", "Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:20px;
  color:#3A3A3C;
  text-align:left;
  line-height:22px;
}
#u250 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u250_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:5px;
  width:516px;
  height:22px;
}
#u251_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:22px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u251_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Segoe UI Semibold", "Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:18px;
  color:#3A3A3C;
  text-align:left;
  line-height:22px;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Segoe UI Semibold", "Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:18px;
  color:#3A3A3C;
  text-align:left;
  line-height:22px;
}
#u252 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u252_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u253_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Segoe UI Semibold", "Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:18px;
  color:#3A3A3C;
  text-align:left;
  line-height:22px;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:-0px;
  width:79px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Segoe UI Semibold", "Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:18px;
  color:#3A3A3C;
  text-align:left;
  line-height:22px;
}
#u253 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u253_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Segoe UI Semibold", "Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:18px;
  color:#3A3A3C;
  text-align:left;
  line-height:22px;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:-0px;
  width:81px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Segoe UI Semibold", "Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:18px;
  color:#3A3A3C;
  text-align:left;
  line-height:22px;
}
#u254 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u254_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Segoe UI Semibold", "Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:18px;
  color:#3A3A3C;
  text-align:left;
  line-height:22px;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:-0px;
  width:133px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Segoe UI Semibold", "Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:18px;
  color:#3A3A3C;
  text-align:left;
  line-height:22px;
}
#u255 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u255_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u256_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Segoe UI Semibold", "Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:18px;
  color:#3A3A3C;
  text-align:left;
  line-height:22px;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:0px;
  width:61px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Segoe UI Semibold", "Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:18px;
  color:#3A3A3C;
  text-align:left;
  line-height:22px;
}
#u256 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u256_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:24px;
  width:123px;
  height:33px;
}
#u257_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:33px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 59, 59, 1);
  background-image:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u257_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u258_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Segoe UI Semibold", "Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:14px;
  color:#F9F9F9;
  text-align:left;
  line-height:17px;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:8px;
  width:91px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Segoe UI Semibold", "Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:14px;
  color:#F9F9F9;
  text-align:left;
  line-height:17px;
}
#u258 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u258_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u259_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Segoe UI Полужирный", "Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#3A3A3C;
  text-align:left;
  line-height:40px;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:172px;
  width:780px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Segoe UI Полужирный", "Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#3A3A3C;
  text-align:left;
  line-height:40px;
}
#u259 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u259_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u261_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:236px;
  width:280px;
  height:45px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u261 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u261_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u262_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Segoe UI Semibold", "Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:16px;
  color:#6B7588;
  text-align:left;
  line-height:19px;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:236px;
  width:72px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Segoe UI Semibold", "Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:16px;
  color:#6B7588;
  text-align:left;
  line-height:19px;
}
#u262 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u262_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u263_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Segoe UI Полужирный", "Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#3A3A3C;
  text-align:left;
  line-height:22px;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:259px;
  width:198px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Segoe UI Полужирный", "Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#3A3A3C;
  text-align:left;
  line-height:22px;
}
#u263 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u263_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:343px;
  width:280px;
  height:45px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u265 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u265_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Segoe UI Semibold", "Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:16px;
  color:#6B7588;
  text-align:left;
  line-height:19px;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:343px;
  width:108px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Segoe UI Semibold", "Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:16px;
  color:#6B7588;
  text-align:left;
  line-height:19px;
}
#u266 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u266_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u267_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Segoe UI Полужирный", "Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#3A3A3C;
  text-align:left;
  line-height:22px;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:366px;
  width:180px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Segoe UI Полужирный", "Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#3A3A3C;
  text-align:left;
  line-height:22px;
}
#u267 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u267_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u268_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Segoe UI Полужирный", "Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#3A3A3C;
  text-align:left;
  line-height:22px;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:392px;
  width:178px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Segoe UI Полужирный", "Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#3A3A3C;
  text-align:left;
  line-height:22px;
}
#u268 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u268_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u269 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u270_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u270 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:236px;
  width:280px;
  height:45px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u270 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u270_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Segoe UI Semibold", "Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:16px;
  color:#6B7588;
  text-align:left;
  line-height:19px;
}
#u271 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:236px;
  width:64px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Segoe UI Semibold", "Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:16px;
  color:#6B7588;
  text-align:left;
  line-height:19px;
}
#u271 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u271_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Segoe UI Полужирный", "Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#3A3A3C;
  text-align:left;
  line-height:22px;
}
#u272 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:259px;
  width:176px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Segoe UI Полужирный", "Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#3A3A3C;
  text-align:left;
  line-height:22px;
}
#u272 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u272_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Segoe UI Полужирный", "Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#3A3A3C;
  text-align:left;
  line-height:22px;
}
#u273 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:285px;
  width:178px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Segoe UI Полужирный", "Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#3A3A3C;
  text-align:left;
  line-height:22px;
}
#u273 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u273_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u274 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u275_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u275 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:343px;
  width:280px;
  height:45px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u275 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u275_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u276_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Segoe UI Semibold", "Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:16px;
  color:#6B7588;
  text-align:left;
  line-height:19px;
}
#u276 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:343px;
  width:72px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Segoe UI Semibold", "Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:16px;
  color:#6B7588;
  text-align:left;
  line-height:19px;
}
#u276 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u276_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u277_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Segoe UI Полужирный", "Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#3A3A3C;
  text-align:left;
  line-height:22px;
}
#u277 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:366px;
  width:217px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Segoe UI Полужирный", "Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#3A3A3C;
  text-align:left;
  line-height:22px;
}
#u277 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u277_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u278_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Segoe UI Полужирный", "Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#3A3A3C;
  text-align:left;
  line-height:22px;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:392px;
  width:178px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Segoe UI Полужирный", "Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#3A3A3C;
  text-align:left;
  line-height:22px;
}
#u278 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u278_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u279 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:1080px;
  width:1180px;
  height:72px;
}
#u280 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u281 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:72px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u281 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u281_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u282 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:24px;
  width:755px;
  height:32px;
}
#u282_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:755px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u282_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u283 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:148px;
  height:32px;
}
#u283_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u283_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u284 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:32px;
  height:32px;
}
#u284_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u284_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u285 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u286 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:32px;
  height:32px;
  display:flex;
  transition:none;
}
#u286 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u286_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u286_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u287 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:4px;
  width:24px;
  height:24px;
  display:flex;
  transition:none;
}
#u287 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u287_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u288_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Segoe UI Semibold", "Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:20px;
  color:#3A3A3C;
  text-align:left;
  line-height:22px;
}
#u288 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:5px;
  width:108px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Segoe UI Semibold", "Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:20px;
  color:#3A3A3C;
  text-align:left;
  line-height:22px;
}
#u288 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u288_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u289 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:5px;
  width:543px;
  height:22px;
}
#u289_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:22px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u289_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Segoe UI Semibold", "Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:18px;
  color:#3A3A3C;
  text-align:left;
  line-height:22px;
}
#u290 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:67px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Segoe UI Semibold", "Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:18px;
  color:#3A3A3C;
  text-align:left;
  line-height:22px;
}
#u290 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u290_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u291_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Segoe UI Semibold", "Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:18px;
  color:#3A3A3C;
  text-align:left;
  line-height:22px;
}
#u291 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:0px;
  width:79px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Segoe UI Semibold", "Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:18px;
  color:#3A3A3C;
  text-align:left;
  line-height:22px;
}
#u291 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u291_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Segoe UI Semibold", "Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:18px;
  color:#3A3A3C;
  text-align:left;
  line-height:22px;
}
#u292 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:0px;
  width:81px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Segoe UI Semibold", "Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:18px;
  color:#3A3A3C;
  text-align:left;
  line-height:22px;
}
#u292 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u292_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u293_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Segoe UI Semibold", "Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:18px;
  color:#3A3A3C;
  text-align:left;
  line-height:22px;
}
#u293 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:0px;
  width:133px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Segoe UI Semibold", "Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:18px;
  color:#3A3A3C;
  text-align:left;
  line-height:22px;
}
#u293 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u293_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u294_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Segoe UI Semibold", "Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:18px;
  color:#3A3A3C;
  text-align:left;
  line-height:22px;
}
#u294 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:0px;
  width:61px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Segoe UI Semibold", "Segoe UI Обычный", "Segoe UI", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:18px;
  color:#3A3A3C;
  text-align:left;
  line-height:22px;
}
#u294 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u294_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
